/* global rules start*/
:root {
  --main-color: #19c8fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: url('/src/img/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* media query start */

/* very small screens  */
@media (min-width: 400px) {
  .container {
    width: 500px;
  }
}

/* small screens*/
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}

/* medium screens  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large screens  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*media query end*/
ul {
  list-style: none;
}

/* global rules end*/
header {
  padding: 20px;
  background-color: transparent;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 20px;
  text-transform: capitalize;
  color: white;
}

header .container img {
  width: 40px;
}

header .container ul {
  display: flex;
}

header .container ul li {
  margin-left: 10px;
  cursor: pointer;
  color: white;
}

header .container ul li a {
  color: white;
  text-decoration: none;
}

header .container ul li :hover {
  color: var(--main-color);
}